Repository sousajf1/skill-network, pull requests merged in 2021-07, with the labels that each got.

#25 Refactor model
  frontend/src/lib.rs
  frontend/src/page/about.rs
  frontend/src/page/common/model.rs
  frontend/src/page/employee.rs
  frontend/src/page/home.rs
  frontend/src/page/not_found.rs
  frontend/src/page/partial/footer.rs
  frontend/src/page/partial/header.rs
  frontend/src/page/skill.rs
Labels: bug, frontend

#26 Clippy appeasal
  backend/src/api/mod.rs
  frontend/src/lib.rs
  frontend/src/page/common/model.rs
Labels: gajo

#24 remove db connections from functions
  backend/Cargo.toml
  backend/Rocket.toml
  backend/src/api/employee.rs
  backend/src/api/employee_skill.rs
  backend/src/api/skill.rs
  backend/src/database/mod.rs
  backend/src/database/models/employee.rs
  backend/src/database/models/employee_skill.rs
  backend/src/database/models/skill.rs
  backend/src/main.rs
  backend/test.db
Labels: backend, do not merge

#32 clion configurations
  CLionConfigurations/CI.run.xml
  CLionConfigurations/Clippy Backend.run.xml
  CLionConfigurations/Clippy Frontend.run.xml
  CLionConfigurations/Format Backend.run.xml
  CLionConfigurations/Format Frontend.run.xml
  CLionConfigurations/Run Backend.run.xml
  CLionConfigurations/Run Frontend.run.xml
  CLionConfigurations/Run.run.xml
Labels: gajo
